<div *ngIf="users.length > 0; else noUsers">
    <div class="container">
    <table class="table table-striped table hover mt-2">
        <thead class="thead-dark">
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">
                <button type="button" class="btn btn-outline-light"
                        (click)="modal.open(mimodal)">Agregar</button>
            </th>
        </thead>
        <tr scope="row" *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
                <button class="btn btn-outline-success"
                        (click)="showUser(user._id)">
                        Detalles
                </button>
            </td>
        </tr>
    </table>
    </div>

<!--Codigo del modal NgbModal-->
<ng-template #mimodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Datos del usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Nombre</label>
          <div class="input-group">
            <input class="form-control" placeholder="Ingrese el nombre"
                   formControlName="name"
                   [ngClass]="{ 'is-invalid': submitted && fields.name.errors }"
            >
              <div *ngIf="submitted && fields.name.errors" class="invalid-feedback">
                <div *ngIf="fields.name.errors.required">Nombre es requerido</div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <div class="input-group">
            <input class="form-control" placeholder="Ingrese el email"
                   formControlName="email"
            >
          </div>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Ingrese la contraseña"
                   formControlName="password"
            >
          </div>
        </div>
        <div class="form-group">
          <label>Confirmar Contraseña</label>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Confirme la contraseña"
                   formControlName="passwordconfirm"
            >
          </div>
        </div>
        <div class="form-group">
          <label>Tipo de usuario</label>
          <div class="select-group">
            <select class="form-control">
              <option value="0">Regular</option>
              <option value="1">Administrador</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">Guardar</button>
        </div>
      </form>
    </div>
    
  </ng-template>

</div> <!--Div que cierra el *ngIf="users.-->
<router-outlet></router-outlet>
<ng-template #noUsers>
    <div class="spinner-border text-success spinner" role="status">
        <span class="sr-only">Cargando...</span>Loading...
    </div>
</ng-template>